support_kitty_keyboard_protocol true
show_startup_tips false
ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { WriteChars "\u{0007}"; SwitchToMode "Normal"; }
        bind "d" { Detach; SwitchToMode "Normal"; }
        bind "Shift T" { BreakPane; SwitchToMode "Normal"; }
        bind "Shift H" { MovePane "Left"; SwitchToMode "Normal"; }
        bind "Shift J" { MovePane "Down"; SwitchToMode "Normal"; }
        bind "Shift K" { MovePane "Up"; SwitchToMode "Normal"; }
        bind "Shift L" { MovePane "Right"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
    normal {
        bind "Ctrl g" { SwitchToMode "Locked"; }

        bind "Alt s" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
        }

        bind "Alt n" { NewPane; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt Shift f" { ToggleFloatingPanes; }

        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }

        bind "Alt h" "Alt Left" { MoveFocus "Left"; }
        bind "Alt l" "Alt Right" { MoveFocus "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }

        bind "Shift Alt h" { Resize "Left"; }
        bind "Shift Alt l" { Resize "Right"; }
        bind "Shift Alt j" { Resize "Down"; }
        bind "Shift Alt k" { Resize "Up"; }

        bind "Ctrl Alt h" { GoToPreviousTab; }
        bind "Ctrl Alt l" { GoToNextTab; }
        bind "Ctrl Alt j" { GoToPreviousTab; }
        bind "Ctrl Alt k" { GoToNextTab; }
        bind "Ctrl Alt n" { NewTab; }

        bind "Alt Esc" { EditScrollback { ansi true; }; }

        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "~"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
}

// Plugins to load in the background when a new session starts
load_plugins {
    "zellij:link"
    // "file:/path/to/my-plugin.wasm"
    // "https://example.com/my-plugin.wasm"
}

// This emulates +Man!, but also colorizes output
scrollback_editor "nvim +BaleiaColorize +set\\ nonu\\ ch=0\\ scl=no +nmap\\ q\\ :q!<CR>"

theme "matugen"
