[config.wallpaper]
command = 'swww'
set = false
# config.wallpaper seems to run AFTER all templates, which is an issue if running from waybar
# since waybar's template pkills itself and all child processes (including the calling matugen)
# Solution is to treat swww as a template with an index of -1, which ensures it's run before 
# pkill waybar

[templates.wallpaper]
input_path = './templates/hellpaper/template.conf'
pre_hook = "swww img --transition-type center --transition-duration 1 {{ image }}"
index = -1 # Run swww first for reasons described above

[templates.waybar]
input_path = './templates/waybar/template.css'
output_path = '~/.config/waybar/style.css'
post_hook = 'pkill -SIGUSR2 waybar || true'
index = 1 # Reload waybar last for reasons described above

[templates.tmux]
input_path = './templates/tmux/template.conf'
output_path = '~/.config/tmux/matugen.conf'
post_hook = 'tmux source-file ~/.config/tmux/matugen.conf || true'

[templates.nvim]
input_path = './templates/nvim/template.lua'
output_path = '~/.config/nvim/matugen.lua'
post_hook = 'pkill -SIGUSR1 nvim && false || true'

[templates.kitty]
input_path = './templates/kitty/template.conf'
output_path = '~/.config/kitty/themes/matugen.conf'
post_hook = 'pkill -SIGUSR1 kitty || true'

[templates.rofi]
input_path = './templates/rofi/template.rasi'
output_path = '~/.config/rofi/config.rasi'

[templates.vesktop]
input_path = './templates/vesktop/template.css'
output_path = '~/.config/vesktop/themes/matugen.css'

[templates.swaync]
input_path = './templates/swaync/template.css'
output_path = '~/.config/swaync/style.css'
post_hook = 'swaync-client -rs'

[templates.gtk3]
input_path = './templates/gtk/template.css'
output_path = '~/.config/gtk-3.0/colors.css'

[templates.gtk4]
input_path = './templates/gtk/template.css'
output_path = '~/.config/gtk-4.0/colors.css'

[templates.niri]
input_path = './templates/niri/template.kdl'
output_path = '~/.config/niri/matugen.kdl'

[templates.hellpaper]
input_path = './templates/hellpaper/template.conf'
output_path = '~/.config/hellpaper/hellpaper.conf'

[templates.hyprlock]
input_path = './templates/hyprlock/template.conf'
output_path = '~/.config/hypr/matugen.conf'

# Zen requires a restart for colors to change...
# [templates.zen]
# input_path = './templates/zen/template.css'
# output_path = '~/.zen/dpfn4rtk.Default Profile/chrome/userChrome.css'
