* {
  all: unset;
  background-color: {{colors.surface.default.hex}};
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar {
  margin-top: 10px;
  color: transparent;
  border-top: 1px solid;
  border-color: #49564c;
}

#workspaces button {
  color: {{colors.primary.default.hex}};
}

#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#mpris,
#hardware,
#mode,
#memory,
#cpu,
#disk,
#custom-notifications,
#custom-visual-refresh,
#custom-spotify-prev,
#custom-spotify,
#custom-spotify-next,
#power-profiles-daemon,
#mpd {
  color: {{colors.on_surface.default.hex}};
  border: 2px none;
  border-radius: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: {{colors.surface_container.default.hex}};
}

#power-profiles-daemon.performance {
  color: #ffa541;
}

#power-profiles-daemon.balanced {
  color: {{colors.on_surface.default.hex}};
}

#power-profiles-daemon.power-saver {
  color: #99ff33;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: {{colors.tertiary.default.hex}};
  padding-left: 5px
}

#hardware {
  background-color: {{colors.surface.default.hex}};
  padding: 0;
  margin: 0;
}

#battery {
  color: {{colors.tertiary.default.hex}};
}

#battery.charging,
#battery.plugged {
  color: {{colors.tertiary.default.hex}};
}

#battery.warning:not(.charging) {
  color: {{colors.error.default.hex}};
}

@keyframes blink {
  to {
    color: {{colors.surface_dim.default.hex}};
  }
}

#battery.critical:not(.charging) {
  color: {{colors.error.default.hex}};
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  color: {{colors.secondary.default.hex}};
}

#bluetooth.off {
  color: {{colors.surface_variant.default.hex}};
}

#backlight {
  color: {{colors.primary.default.hex}};
}

#network {
  color: {{colors.primary_fixed_dim.default.hex}};
  padding-left: 6px;
  padding-right: 12px;
}

#network.disabled {
  color: {{colors.surface_variant.default.hex}};
}

#network.disconnected {
  color: {{colors.error.default.hex}};
}

#pulseaudio {
  color: {{colors.secondary.default.hex}};
}

#pulseaudio.muted,
#pulseaudio.critical {
  color: {{colors.error.default.hex}};
}

#custom-power {
  color: {{colors.error.default.hex}};
  padding-right: 5px
}

/*===========SPOTIFY MODULE===============*/


#custom-spotify-prev {
  padding-left: 7px;
  padding-right: 12px;
}

#custom-spotify-next {
  padding-left: 7px;
  padding-right: 11px;
}

#mpris {
  min-width: 250px;
}

#custom-spotify-prev,
#mpris,
#custom-spotify-next
{
  color: {{colors.primary.default.hex}};
}

#custom-spotify-next.Playing,
#custom-spotify-prev.Playing,
#mpris.playing {
  color: {{colors.primary.default.hex}};
}

#custom-spotify-next.Paused,
#custom-spotify-prev.Paused,
#mpris.paused {
  color: {{colors.surface_variant.default.hex}};
  font-style: italic;
}

/*========================================*/

#custom-visual-refresh {
  color: {{colors.secondary.default.hex}};
}

#custom-notifications {
  color: {{colors.primary.default.hex}};
}

#custom-notifications.dnd-notification {
  color: {{colors.surface_variant.default.hex}};
}

#custom-notifications.dnd-none {
  color: {{colors.surface_variant.default.hex}};
}
